extends layout

block content
  h1= title
  a.foo_link(href='/') home
  a.foo_link(href='/about') about us
  a.foo_link(href='/contacts') contacts
  br
  br
  form(method="post")
    p please enter following data:
    input(type='text' name="name" placeholder='your name')
    br
    input(type='text' name="number" placeholder='your phone number')
    br
    input(type='text' name="email" placeholder='your email')
    br
    button(type="submit") send data

